VITE_SUPABASE_URL=https://nioyqlsvpfkyfwbvggzs.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5pb3lxbHN2cGZreWZ3YnZnZ3pzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk4MzE3NzMsImV4cCI6MjEwNTQwNzc3M30.E6KKDGbfECZHfv_BlU11ctr2LVio1s69kjpitbi__wA
